/* General HTML Element Styling */
body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
}

h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

h3 {
    font-weight: 900;
    font-size: 1.5rem;
}

nav {
    background-color: #0066B3;
    position: fixed;
}

/* General HTML / Bootstrap Overriding */
.row {
    margin-right: 0px;
}

.heading-lg {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 900 !important;
    color: white;
    margin: 50px 50px
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* NAVIGATION */
.nav-item {
    padding-right: 50px;
    font-size: large;
}

.nav-brand-text {
    margin-right: 2rem;
}

.nav-bar-icon {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.currentLink {
    color: #303030 !important;
    font-weight: bold;
}


/* INDEX.HTML Main */

#MAIN {
    background-color: #1b8ed0;
}

.content-selection-button {
    margin: 5% 3% 5% 0%;
    margin: 50px 20px 50px 50px;
}

#title {
    background-color: #ff4c68;
    color: white;
}

.title-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

/* CAMERA.html Main */
.cta-camera {
    color: white;
}

.cta-map {
    color: white;
}

.live-cam-content-row {
    margin-top: 100px;
    text-align: center;
}
.col-lg-12 {
    text-align: center;
    margin-top: 50px;
}


/* LIVE-CAM Page */
.link-imgs {
    height: 100px;
    width: auto;
    margin: 100px;
}

.camera-view-headings {
    font-size: 1.5rem;
}

/* Front image */